

h1{
    text-align: center;color:purple;font-style: oblique;font-size: 65px;
}
nav {
    text-align: center;color:purple;font-style: oblique ;
}
a{color: black;text-decoration: none;font-size: 35px;}
a:hover{color: purple;}
