.img2{
    margin-left:40%;
    margin-right: auto;
}
.img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
}
p{text-align: center;font-style: oblique ;}
a:hover{color: black;}
a{text-decoration: none;font-size: 30px;}