<div class="img2">
    <img src="../../assets/neopark-fejja.jpg" width="500px" height="500px" alt="">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
</div> <div class="content">  <img src="../../assets/sebn3.jpg" width="1500px" height="800px" alt="">
</div>
<h2>SEBN-MA spécialisé dans la fabrication des faisceaux électriques pour l’industrie 
    Automobile et filiale du groupe Sumitomo Bordnetze a connu depuis son démarrage 
    en 2001 à la zone franche de Tanger (TFZ) une forte croissance économique et sociale 
    en adoptant une politique ambitieuse de gestion des ressources humaines Attrayante et 
    valorisante pour les collaborateurs</h2>
    <div class="content">
        <img src="../../assets/1623660007037.jfif" alt="Avatar" class="content">
    
    
    
    </div>



